<div id="container">
	<div id="header">
		<h1>Hester</h1>
	</div>

	<div id="about">	
		<div class="content">
			<h2>Over Hester</h2>
			<p>
			http://loremipsum.nl/
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
			</p>
		</div>
	</div>

	<div id="testimonials">
		<div class="content">
			<h2>Testimonials</h2>
			<%= render @testimonials %>
			<p><b><%= link_to 'Voeg een nieuwe testimonial toe', new_testimonial_path %></b></p>
		</div>
	</div>

	<div id ="contact">
		<div class="content">
			<h2>Contact</h2>
			<p>hier je contact gegevens</p>
		</div>
	</div>
</div>
