/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html, body{
	height: 100%;
	font-family: arial;
}
 html, body, div, h1, h2, p{
	margin: 0;
	padding: 0;
}

h1{
	color: #BA3657;
	text-align: center;
	font-size: 82px;
	padding-top: 80px;
	padding-bottom: 20px;
}

h2{
	color: #222222;
	font-size: 24px;
	padding: 20px 0 10px;
}

#container{
	background-color: pink;
	min-height: 100%;
}

.content{
	width: 70%;
	margin: auto;
	padding: 30px 5px; /* boven/onder links/rechts */
}

#header{
	background: url('hester2103.jpg') no-repeat center center;
	background-size: 100% auto;
	min-height: 500px;
	width: auto;	
}
#testimonials{
	background-color: #666;
	color: #fff;
	min-height: 80px;
	margin-bottom: 0px;
}
#testimonials a{
	color: pink;
	text-decoration: none;
}
#testimonials a:hover{
	color: white;
	background: none;
}
.quote{
	display: inline-block;
	min-width: 51%;
}

blockquote{
	border-left: 6px solid #888;
	margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
  font-size: 16px;
}
blockquote:before,
blockquote:after{
	color: #aaa;
  font-size: 4em;
  line-height: 0.25em;
  vertical-align: -0.4em;
}
blockquote:before{
	content: open-quote;
}
blockquote:after{
	content: close-quote;
}

.right{
	text-align: right;
}


















