<div class="quote">
	<blockquote>
	  <%= testimonial.statement %>
	</blockquote>
	<p class="right"> 
		<i>
			<%= testimonial.naam %>, <%= testimonial.functie %><br />
			<%= testimonial.bedrijf %>

		</i>
	</p>
</div>